<%= render "static_pages/editor"%>
<%= form_for(@impressum) do |f| %>
<% if @impressum.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@impressum.errors.count, "error") %> gefunden die das Abspeichern verhindern:</h2>

	<ul>
		<% @impressum.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= f.label :text %>
	<br>
	<%= f.text_area(:text, size: '50x10',:class => "editor") %>
</div>
<div class="actions">
	<%= f.submit class: "btn btn-primary" %>
</div>
<% end %>
