<h1>Nutzer registrieren</h1>
 <br/>
<br/>

<div class="container">

	<div class="col-md-11 col-md-offset-1 centerfy">
<%= simple_form_for(@user) do |f| %>
  <%= #error_messages(@user,"Could not register user") 
  %>
 
  <%= render :partial => 'user_fields', :locals => { :f => f } 
  %>
 <br>
  <p><%= f.label :password %></p>
  <p><%= f.password_field :password, :placeholder => "Passwort" %></p>
 <br>
 
 
  <p><%= f.submit "Registrieren" , class: "btn btn-primary btn-md" %></p>
<% end %>
<%= link_to I18n.t('back'), users_path ,:class=>"btn btn-primary"%>
</div>
</div>
