<div class="well">
<div class="col-md-6">

					<div class="row">
						<div class="col-md-1">
							Like:
						</div>
						<div class="col-md-1" id="like"></div>
						<div id="title" class="col-md-2 col-md-offset-1"></div>
					</div>
					<div class="row">
						<div class="col-md-1">
							Dislike:
						</div>
						<div class="col-md-1" id="dislike"></div>
					</div>
					<div class="row">
						<div class="col-md-1">
							Tags:
						</div>
						<div class="col-md-10" id="tags"></div>
					</div>

</div>
<div class="col-md-6">
				<div>
					<%= link_to 'Nächstes', '',
							:onclick => 'prevItem()',:class => "right btn btn-default",:id=>"prev" %>
				</div>
				<div>
					<%= link_to '<', '',
							:onclick => 'nextItem()',:class => "right btn btn-default", :id=>"next" %>
				</div>
			</div>
<div class="clearfix"></div>
</div>


<div class="col-md-12 nopadding">
	<div class="col-md-8 nopadding" >
		<span id="utext" style="display: none;"></span> 
		<span id="pics"></span>
		<span id="dtext" style="display: none;"></span> 
	</div>
	<div class="col-md-4">
		<div id="map" class="" ></div>
		<div class="next" ></div>
	</div>
</div>


<br/>
<br/>
<br/>
<div class="container">
	<div class="row">
		<div id="like"></div>
		<div id="dislike"></div>
		<div id="comments" style="display: none;"></div> 
	</div>
</div>

<%if user_signed_in?%>
<script type="text/javascript">
	window.currentUser =<%= current_user.to_json.html_safe%>;</script>
<%end%>
<script><% unless @number.nil? %>var number =<%= @number %><% else%>var number =<%= Gallery.new().last%><%end%></script>
<script src="<%= root_path+'js/comments.js'%>"></script>
<script src="<%= root_path+'js/arts.js'%>"></script>
